<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>Computed parte 2</title>
</head>
<body>
    <div id="app">
      <h4>Adcionar Pacientes: </h4>
      <span>Nome: </span><input type="text" id="inputNome"><br>
      <span>Idade: </span><input type="text" id="inputIdade"><br>
      <span>Plano: </span><input type="text" id="inputPlano"><br>
      <button @click="addPaciente">Add Paciente</button>
      <hr>
      <h4>Ultimo paciente cadastrado</h4>
      <p v-if="pacientes.length > 0">
         {{ UltimoPaciente }}
      </p>
      <hr>
      <h4>Pacientes do Plano Ouro:</h4>
      <p v-for="p in pacientesPlanoOuro">{{p.nome}}</p>
      <hr>
      <h4>Pacientes Cadastrados</h4>
      <p v-for="p in pacientes">{{p.nome}}</p>
    </div>
    <script>

        const vem = new Vue({
            el: '#app',
            data: {
                pacientes: []
            },
            methods: {
                addPaciente(){
                    this.pacientes.push({
                        nome: inputNome.value,
                        idade: inputIdade.value,
                        plano: inputPlano.value
                    })
                }
            },
            computed: {
                UltimoPaciente(){
                    let key = this.pacientes.length - 1
                    let txt = ''

                    txt += `Paciente: ${this.pacientes[key].nome}
                            idade:  ${this.pacientes[key].idade} anos
                            Plano:  ${this.pacientes[key].plano}
                            `
                    return txt.toUpperCase()
                },
                pacientesPlanoOuro(){
                    return this.pacientes.filter(item => item.plano == 'Ouro')
                }
            }
        })    
    </script>

    <style>
       
    </style>
</body>
</html>